$bg-dark-color: #131313;
$bg-light-color: #FFFFFF;
$full-width: 100%;
$header-height: 83px;
$container-padding-right: 6.875vw;
$container-padding-left: 5.694vw;
$font-header: 0.875em;
$yellow-color: #E3B873;
$white-color: #ffffff;
$FuturaDemiC: 'FuturaDemiC';
$FuturaBookC: 'FuturaBookC';
$YesevaOne: 'Yeseva One';
$ProximaNova: 'Proxima Nova';
$FuturaMediumC: 'FuturaMediumC';
$btn-radius: 2px;
$first-section-content-width: 79.4vw;
$second-section-content-width: 90.667vw;
$third-section-content-width: 90.667vw;
$fourth-section-content-width: 90.667vw;